extends ../layouts/common

block main
  h2 List books
  a(class="btn btn-primary mb-2", href="/books/create") Add new book
  table(class="table table-bordered")
    thead(class="thead-dark")
      tr
        th(scope="col") #
        th(scope="col") Title
        th(scope="col") Description
        th(scope="col") Action
    tbody
      each book in books
        tr
          th(scope="row")= book.id
          th(scope="row")= book.title
          th(scope="row")= book.description
          th(scope="row")
            a(class="btn btn-danger mr-2", href="/books/" + book.id + "/delete") Delete
            a(class="btn btn-success", href="/books/" + book.id) View
  
  nav(aria-label="pagination")
    ul(class="pagination")
      if hasPrevious
        li(class="page-item")
          a(class="page-link", href="/books?page=" + (currentPage - 1)) Previous
      each page in pages
          if page === currentPage
            li(class="page-item active")
              a(class="page-link", href="/books?page=" + page)= page
          else
            li(class="page-item")
              a(class="page-link", href="/books?page=" + page)= page
      
      if (hasNext)
        li(class="page-item")
          a(class="page-link", href="/books?page=" + (currentPage + 1)) Next